{% extends "documents/base.html" %}

{% block content %}

<h2>All Documents</h2>

<table>

<tr>
<th>Title</th>
<th>Description</th>
<th>File</th>
<th>Actions</th>
</tr>

{% for doc in docs %}

<tr>

<td>{{ doc.title }}</td>

<td>{{ doc.description }}</td>

<td>
<a href="{{ doc.document.url }}">
Download
</a>
</td>

<td>

<a href="{% url 'update' doc.id %}">
Edit
</a>

|

<a href="{% url 'delete' doc.id %}">
Delete
</a>

</td>

</tr>

{% empty %}

<tr>

<td colspan="4">
No Documents
</td>

</tr>

{% endfor %}

</table>

{% endblock %}